<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <clear/>
    <add name="DefaultDB" connectionString="Data Source=DESKTOP-86USMRL\SQLEXPRESS;Initial Catalog=k200183;Integrated Security=True" providerName="System.Data.SqlClient"  />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
